@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "base/fonts.css";
@import "vendors/fontawesome-all.css";
@import "utilities/variable-font.css";

html {
    height: 100%;
}

body {
    min-height: 100%;
}

html[lang="fa"] {
    font-family: dana;
}

@supports (font-variation-settings: normal) {
    html[lang="fa"], .fa {
        font-family: 'dana VF';
        font-variation-settings: "wght" 400, "FANU" 1;
    }
}

.dir-rtl {
	direction: rtl;
}

.dir-ltr {
	direction: ltr;
}

@layer utilities {
    @variants responsive {
        .focus {
            @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-opacity-60 ring-brand;
        }

        .focus-current {
            @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-opacity-60;
        }
    }
}

.rsl-intro-bg-img {
    @apply absolute left-0 top-0 bg-white z-0;
    width: 45%;
    height: 31rem;
    border-radius: 0% 4px 53% 75% / 0 0 100% 1%;
}

.title {
    @apply text-xl text-gray-800 variable-font-bold;
}

header {
    @apply bg-black bg-opacity-5 w-full fixed top-0 z-50;
}

header.r-sticky {
    @apply bg-white bg-opacity-100 shadow-md;
}

header h1 {
    @apply text-white;
}

header.r-sticky h1 {
    @apply text-brand;
}

header nav a {
    @apply px-3 py-1 rounded text-white hover:bg-white hover:bg-opacity-5 transition;
}

header.r-sticky nav a {
    @apply text-gray-600 hover:bg-black hover:bg-opacity-5;
}