@font-face {
	font-family: 'dana VF';
	src: url('../fonts/Dana/DanaVF.woff') format('woff-variations'),
		 url('../fonts/Dana/DanaVF.woff') format('woff');
	font-display: fallback;
}

@font-face {
    font-family: dana;
    src: url('../fonts/Dana/Dana-Regular.woff') format('woff');
}
@font-face {
    font-family: dana;
    src: url('../fonts/Dana/Dana-Bold.woff') format('woff');
    font-weight: 700;
}